
* {
    box-sizing: border-box;
  }

 body, h1, h2, h3, p {
    margin: 0;
}
 
html {
    font-size: 62.5%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    font-size: 1.3rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr 7fr;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    background-color: rgb(245, 248, 194);
  }


.ui-icon {
    height: 3rem;
    cursor: pointer;
}

 /* =====================  Header ============================ */

.header {
    grid-area: 1 / 2 / 1 / span 2;
    background-color:skyblue;
    display: grid;
    grid-template-columns: minmax(320px, 2fr) auto;
    grid-template-rows: 1fr 2fr;
    padding-top: 15px;
    padding-left: 35px;
    z-index: 1;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

.search input {
    grid-row: span 2;
    background-color: #f5e7dc;
    border: none;
    border-radius: 25px;
    height: 30px;
    max-width: 550px;
    min-width: 100px;
    line-height: 2rem;
    padding: 15px;
    align-self: center;
}

.search .ui-icon {
    grid-row: 1 / 3;
    align-self: center;
    height: 20px;
    filter: invert(100%);
}

.login-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.login-info .ui-icon {
    filter: invert(100%);
}

.login-info .user-avatar {
    height: 45px;
    grid-row: 1 / 3;
    align-self: center;
    cursor: pointer;
}

.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 15px;
}

.user-info img {
    height: 55px;
    grid-row: 1 / 3;
    align-self: center;
    cursor: pointer;
}

.user-info .welcome-msg {
    align-self: end;
}

.buttons {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding-right: 35px;
}

.head-btn {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
}

/* =============== Sidebar ====================*/

.sidebar {
    grid-area: 1 / 1 /span 2 / 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 25px;
    padding-top: 15px;
    background-color:rgb(214, 101, 101);
    z-index: 2;
  }

.primary-nav, .secondary-nav {
    padding-top: 50px;
}

.sidebar ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

.sidebar ul li p {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    margin: 1rem 0;
}

.sidebar ul li p:hover {
    border-bottom: 1px solid white;
    transition: .5s;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo h1 {
    font-size: 3rem;
}


/* ========================= Main-Content  ========================== */

.main-content {
    grid-area: 2 / 2 / 2 / 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    padding: 25px 25px 0;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto 1fr 1fr;
    gap: 15px;
    padding-right: 25px;
} 

.project-container h1 {
    grid-column: 1 / -1;
}

.project-cards {
    background-color:paleturquoise;
    border-radius: 10px;
    border-left: 11px solid rgb(179, 35, 207);
    padding: 30px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-text h2 {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    width: fit-content;
}

.project-text h2:hover {
    border-bottom: 1px solid #fff;
}

.article-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-self: end;
    align-self: end;
}

.article-footer .ui-icon {
    height: 20px;
}

.rside-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.announcements {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
}

.ancn-box {
    padding: 20px 25px 0;
    justify-content: space-around;
}

.box {
    padding: 10px 0 20px;
}

.box:nth-last-child(n+2) {
    border-bottom: 1px solid rgb(96, 48, 116);
}

.box h3 {
    border-bottom: 1px solid transparent;
    width: fit-content;
    cursor: pointer;
}

.box h3:hover{
    border-bottom: 1px solid black;
}

.ancn-box,
.trend-container {
    background-color: paleturquoise;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.trends {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
    padding-top: 25px;
}

.trend-container {
    padding: 20px 5px;
    justify-content: space-between;
}

.trend {
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;
    gap: 7px 10px;
}

.trend img {
    height: 40px;
    grid-row: 1 / 3;
    align-self: center;
    cursor: pointer;
}

.trend-user {
    align-self: flex-end;
    font-weight: bold;
}

.trend-title {
    border-bottom: 1px solid transparent;
    align-self: flex-start;
    width: fit-content;
    cursor: pointer;
}

.trend-title:hover {
    border-bottom: 1px solid black;
}

/* =========For Responsive ============ */

@media screen and (max-width: 940px) {
    .header {
        grid-template-columns: minmax(320px, 2fr);
        grid-template-rows: auto;
        gap: 10px;
        padding-bottom: 15px;
    }

    .buttons {
        grid-row: 4;
        justify-content: start;
    }

    .user-info {
        grid-row: 2;
    }

    .login-info {
        grid-row: 1;
        justify-content: start;
    }

    .login-info .user-avatar,
    .login-info h2 {
        display: none;
    }

    .search {
        grid-row: 3;
        padding-right: 30px;
    }

    .search input {
        width: 100%;
    }

    .main-content {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 25px 25px 0;
        gap: 25px;
    }

    .rside-container {
        padding-right: 25px;
    }
}