
body {
    text-align: center;
    margin-top: 90px;
}

.container {
    justify-content: center;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
    transition: all 2s;
}

.grid {
    border: 1px solid brown;
    background-color: aqua;   
    text-align: center; 
}

button {
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    box-shadow: 3px 2px 1px black;
}

.grid-full {
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 200px 200px 200px;
    font-style: italic;
    font-size: larger;
}